<p id="notice"><%= notice %></p>

<p>
  <strong>Name: <%= @build.name %></strong><br>
  <strong>Tab Relation: <%= @build.tab %></strong><br></p>

<%= link_to 'Edit', edit_build_path(@build) %>
<%= link_to 'Back', @build.tab %>