
<li id="move_<%= object.id %>" id='move_item' data-url="<%= object.tab_id %>">
<table cellpadding="0" width="100%">
<tbody>
<tr>
<td> <span class="handle">[drag]</span> <%= object.position %> </td>
<td valign="center" align="center" width="15%"><strong><%= link_to object.name, move_path(object.id) %></strong><br><%= link_to "Edit", edit_move_path(object.id) %> <%= link_to "Delete", move_path(object.id), method: :delete, data: {confirm: "Sure?" } %></td>
<td valign="center" align="left"><h1><%= object.description %></h1></td>
</tr>
</tbody>
</table>
</li>

