<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @move.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @move.description %>
</p>

<p>
  <strong>Game:</strong>
  <%= @move.character.game.name %>
</p>

<p>
  <strong>Character:</strong>
  <%= @move.character.name %>
</p>

<%= link_to 'Back', @move.character %>