<div class="container">
  <h3><%= @game.name %> <%= @game.description %> <%= @game.year %></h3>
  <ul class="nav nav-tabs" role="tablist">

  	<% @game.tabs.each do |tab| %>
  		<%=	render partial: 'tabs/tab', locals: {tab: tab} %>
  	<% end %>
    <li class="active"><%= link_to '+', new_tab_path(tab: {tabable_id: @game.id, tabable_type: @game.class.name}) %></li>
  </ul>
  <br>
  <p></p>
</div>

<div class="tab-content">

	<% @game.tabs.each do |tab| %>
  		<%=	render partial: 'tabs/tab_body', locals: {tab: tab} %>
  	<% end %>

</div>

<%= link_to 'Back', root_path %>
<%= link_to 'Edit', edit_game_path(@game) %>