<p id="notice"><%= notice %></p>

<p>
  <h1><%= @character.name %></h1>
  <%= @character.description %>
</p>

<div id="moves_wrapper">
	<%= render @character.moves %>
</div>

<br>
<%= link_to 'New Move', new_move_path(move: {character_id: @character.id}) %>
<%= link_to 'Back', @character.game %>