<% @tab = tab %>
<%= form_for @tab do |f| %>
  <%= f.hidden_field :tabable_id %>
  <%= f.hidden_field :tabable_type %>
  <%= f.text_field :tab_type, placeholder: 'Tab Name' %><br>
  <br>
  <% if @tab.id != nil %> <!--this is what is blocking characters/builds errors -->
    <div>
      <%= add_child_button "New #{@tab.singular_titlecase}", @tab.plural.to_sym, "##{@tab.plural}" %>
      <%= new_fields_template f, @tab.plural.to_sym %>
    </div>
    <ul>
        <div id="<%= @tab.plural %>">

      <%= f.fields_for @tab.plural.to_sym do |b| %>
        <div>
         
            <%= render "tabs/child_fields", f: b %>
          
        </div>
      <% end %>
    </div>
    <ul>
  <% end %>
  <%= f.submit "Save" %>
<% end %>