<div role="tabpanel" class="tab-pane <%= 'active' if tab==tab.tabable.tabs.first %>" data-name="<%= tab.plural %>" id="tab-<%= tab.id %>">
  <div id="existing-data-fields_<%= tab.id %>" class="">
    <ul>
      <% if Tab.relations.include?(tab.plural) %>
        <% if tab.send(tab.plural).column_names.include?('name') %>
          <% tab.send(tab.plural).order("position asc, name asc").each do |object| %>
            <%= render partial: "#{tab.plural}/#{tab.singular}", locals: {object: object} %>
          <% end %>
        <% else %>
          <% tab.send(tab.plural).order("position asc").each do |object| %>
            <%= render partial: "#{tab.plural}/#{tab.singular}", locals: {object: object} %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div id="new-data-fields_<%= tab.id %>" class="" readonly>
    <ul>
      <%= render partial: "#{tab.plural}/form", locals: {object: tab} %>
    </ul>
  </div>
</div>