<li id="fatality_<%= object.id %>" id='fatality_item' data-url="<%= object.tab_id %>">
  <table id="interesting-content" width="100%">
    <tbody>
      <tr>
        <td valign="center" class="handle" align="center" width="15%"><strong><%= object.name %></strong><br>
          <%= link_to "Edit", edit_fatality_path(object.id) %> <%= link_to "Delete", fatality_path(object.id), method: :delete, data: {confirm: "Sure?" } %></td>
        <td valign="center" align="left">
          <h1><%= object.description %></h1>
        </td>
      </tr>
    </tbody>
  </table>
</li>