<h1>Listing fatalities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Game</th>
      <th>Character</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fatalities.each do |fatality| %>
      <tr>
        <td><%= fatality.name %></td>
        <td><%= fatality.description %></td>
        <td><%= fatality.game %></td>
        <td><%= fatality.character %></td>
        <td><%= link_to 'Show', fatality %></td>
        <td><%= link_to 'Edit', edit_fatality_path(fatality) %></td>
        <td><%= link_to 'Destroy', fatality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New fatality', new_fatality_path %>
